body {
background-color: #95FEFC;
  background-image: url("hokusaiwave.jpg");
}

h1 {
color: #808E8E;
  text-align: center;
  font-size: 50px;
  font-family: TimesNewRoman; 
}

p {
color: #808E8E
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  font-size: 20;
  font-family: TimesNewRoman;
  border: 2px solid

}
