body {
background-color: #D3FBFC;
  background-image: url("canadian-dollar.png);
}

h1 {
color: #808E8E;
  text-align: center;
  font-size: 60px;
  font-family: TimesNewRoman; 
  border: 2px solid; 
}

h2  { 
color:#000202;
  text-align: center;
  font-family: TimesNewRoman;
padding: 10px;
  border:2px ridge;
}
p {
color: #0A0300 ;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 90%;
  font-size: 20;
  font-family: TimesNewRoman;
  border: 2px double;
  border-color: #CFC5FC;
    background-color: #CDEFF1;

}
